*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgba(255, 255, 255, 0.911);
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'section_1'
    'section_2'
    'section_3'
    'section_4'
    'section_5'
    'section_6'
    'section_7'
    'section_8'
    'section_9'
    'section_10';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.section-1{
    grid-area: section_1;
    width: 100%;  
}

.video-container{
    position: relative;
}

video{
    width: 100%;
    min-height: 100%;
    z-index:1; 
}

.layer{
    min-width: 100%;
    min-height: 100%;
    top:0;
    left:0;
    position:absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.46);
} 

 nav{
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color: rgba(255, 255, 255, 0.29);
    z-index:2;
}

.bgcolor{
    background-color:rgba(39, 42, 43, 0.61);
}

nav main{
    width:95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.left-item{
    display: flex;
    align-items: center;
}

nav main h1{
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.78rem;
    margin-right: 1rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

nav main h1 span{
    color:#EA664F;
}

nav main ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

nav main ul li{
    padding:22px 18px;
}

 ul.nav_item > li > a:link, .nav_item li  a:visited{
    color:aqua;
    font-size: 1.2rem;
    position: relative;
    transition: all 0.5s;
}

  ul.nav_item > li > a:hover{
    color:#ED563B;
}

 ul.nav_item > li > a:active{
    color:aqua;
}

.right-item{
    display: flex;
    margin-right: 0rem;
    align-items: center;
}


.right-item  #isearch{
    background-color: transparent;
    width: 60%;
    height: 20px;
    padding: 1rem;
    color:none;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
    margin-right: 20px;
    transition: all 2s;
}

#isearch::placeholder{
    color:white;
}



.right-item button{
    background-color: #EA664F;
    color: white;
    padding:1rem;
    outline: none;
    border:none;
}

.toggle_menu_bars{
    display: none;
    padding:0.5rem 1rem;
    font-size: 1.4rem;
    background-color: transparent;
    border-radius:10px;
    border:1px solid white;
    color:white;
    transition: all 0.5s;
}

.toggle_menu_bars:hover{
    color:black;
    background-color: white;
}

.banner{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    top:40%;
    left:0%;
    width: 100%;
    z-index:2;
    color:none;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
}

.index{
    z-index: 0;
}

.banner h1{
    font-size: 4rem;
    margin-left:2rem;
    letter-spacing: 0.02rem;
    margin-bottom: 3.5rem;
    font-weight: bold;
    text-align: center;
    color:white;
} 
 
.banner h1 > span {
    color:greenyellow;
    margin-left: 1rem;
}

.banner button{
   width: fit-content;
   padding:1rem 2.8rem;
   background-color:#ED563B;
   outline:none;
   border:1px solid #ED563B;
   color:white;
   font-weight: 600;
   margin-left:-2rem;
   font-size: 1.2rem;
   border-radius: 25px;
}  

.spc {
    border: 2px solid rgb(255, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    animation: zyx 800ms infinite;
    animation-direction: alternate;
}

@keyframes zyx{
    0%{
        border: 2px solid rgb(255, 0, 0);
    }

    100%{
        border: 2px solid rgba(255, 0, 0, 0);
    }
}

.spc button{
    background-color: transparent;
    color:aqua;
    border:none;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.spc button div{
    margin-left: 8px;
    margin-top: 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    animation: xyz 800ms infinite;
    animation-direction: alternate;
}

@keyframes xyz{
    0%{
        opacity:1;
    }

    100%{
        opacity:0;
    }
}

nav main ul li:nth-child(3){
    position: relative;
}

.innermenu{
    display: block;
    position: absolute;
    background-color:black;
    width: 16vw;
    color:#ffff00;
    top:65px;
    opacity: 0;
    transition: all 0.5s ;
    visibility: hidden;
}

nav  main  ul  li:nth-child(3):hover .innermenu{
    opacity: 1;
    visibility: visible;
}


.innermenu > ul {
    width: inherit;
    display: flex;
    flex-direction: column;
}

.innermenu > ul > li{
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem none;
    position: relative;
}

.innermenu > ul > li > i{
    margin-right: 1rem;
}

.innermenu > ul > li:nth-child(1) i{
    margin-right: 0.8rem;
}

.innermenu > ul > li:nth-child(4) i{
    margin-right: 1.1rem;
}

.innermenu > ul > li:nth-child(5) i{
    margin-right: 0.8rem;
}

.innermenu > ul > li i{
    color:yellow;
}

.innermenu  ul  li  a:link{
    transition: all 0.5s;
    color:white;
}

.innermenu li a:visited{
    color:white;
}

.innermenu  ul  li  a:hover{
    color:aqua;
}

.innermenu  ul  li   a:active{
    color:white;
}

.innermenu_item {
    display: flex;
    position: absolute;
    left: 13.5rem;
    width: 30vw;
    flex-flow: row wrap;
    top:0px;
    gap:2rem;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
    background-color: rgba(84, 62, 206, 0.774);
}

.innermenu > ul > li:hover .innermenu_item{
    opacity: 1;
    visibility: visible;
}

.innermenu > ul > li > .innermenu_item > ul{
    display: flex;
    flex-flow: column wrap;
    width: 25%;
}

.innermenu > ul > li > .innermenu_item > ul > li{
    display: flex;
    flex-flow: column wrap;
}

 .innermenu_item  li a:link, a:visited{
    color:white;
    font-size: 0.7rem;
    transition: all 0.5s;
}

.innermenu_item   li a:hover{
    color:aqua;
}

 .innermenu_item  li a:active{
    color:white;
}

.top{
    top:-22rem;
}


.section-2{
    grid-area: section_2;
    width: 100%;
    margin-top: 6rem;
}

.section2-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-heading h1{
    font-size: 3rem;
}

.section2-heading h1 span{
    color:#ED563B;
}

.section2-heading .icon{
    font-size: 2.5rem;
    margin-top: 1rem;
    color:cadetblue;
}

.section2-heading p{
    text-align: center;
    line-height: 2;
    color:black;
    font-weight: 600;
    width: 70%;
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.section2-content{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section2-content .label{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.sub1, .sub2, .sub3, .sub4{
    padding: 1rem 3rem;
    background-color: #F0F6F8;
    box-shadow: 0 0 18px 4px rgb(231, 231, 231);
    transition: all 0.5s;
}

.section2-content .label h4:nth-child(1){
    border-radius: 15px 0px 0px 15px;
}

.section2-content .label h4:nth-child(4){
    border-radius: 0px 15px 15px 0px;
}

.section2-content .label .bg{
    background-color: #ff00c4 ;
    color:white;
}

.label h4:hover{
    background-color: #ff00c4;
    color:white;
} 

.per{
    background-color:  #ff00c4;
    color:white;
}

.ssc-content, .hsc-content, .profCR-content, .examPrep-content{
    width: 80%;
    margin: 0 auto;
    display: none;
}

.vis{
    display: block;
}

 .show-content{
    width: 80%;
    margin: 0 auto;
}

.ssc-content, .hsc-content, .profCR-content, .examPrep-content, .show-content h1{
    text-align: center;
}

.category_card, .show-content .category_card{
    margin-top: 2.5rem;
    display: flex;
    flex-flow: row wrap;
    gap:2rem;
    justify-content: space-between;
}

.cnt, .show-content .cnt{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.2rem;
    gap:1rem;
    width: 30%;
    object-fit: contain;
    padding: 1rem;
    box-shadow: 0 0 18px 4px rgb(231, 231, 231);
    border-radius: 8px;
    position: relative;
    transform:scale(1);
    transition: all 0.5s;
}

.cnt:hover, .show-content .cnt:hover{
    transform: scale(1.1);
}

.section-3{
    grid-area: section_3;
    width: 95%;  
    margin:0 auto;
    margin-top: 4rem;
}

.sec3_wrapper{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

.sec3_wrapper img{
    width: 55%;
}

.section-3_content{
    padding:2rem;
    width: 45%;
    background-color:rgb(9, 9, 110);
}

.section-3_content h1{
    color:honeydew;
}

.section-3_content p{
    line-height: 1.5;
    margin:1.6rem 0;
    font-size: 1.2rem;
    text-align: justify;
    color:white;
}

.section-3_content button{
    margin-top: 1rem;
    padding: 0.7rem 1rem ;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: transparent;
    outline:none;
    border:1px solid white;
    color:white;
    border-radius: 20px;
}

.section-3_content button:hover{
    background-color: white;
    color:black;
}

.section-4{
    grid-area: section_4;
    width: 100%;
    margin-top: 6rem;
}

.section-4 h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}


.section-4 img{
    width:100%;
    height: 150px;
}

.section4_content{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin:0 auto;
    justify-content: space-between;
}

.section-4 .item{
    background-color:snow;
    width:30%;
    padding:2rem;
    border-radius: 15px;
    gap:4rem;
    box-shadow: 0 0 18px 4px rgb(231, 231, 231);
    margin-bottom: 3rem;
}

.section4_content h5{
    line-height: 2;
    font-size: 1rem;
    margin-top: 0.8rem;
    color:#ED563B;
}

.section4_content h2{
    line-height: 2;
    color:blueviolet;
}

.price{
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.price h4:nth-child(1){
    color:brown;
    font-size: 1.3rem;
}

.price h4:nth-child(2){
    font-size: 1.6rem;
}


.section-5{
    grid-area: section_5;
    width: 95%;  
    margin:0 auto;
    margin-top: 4rem;
}

.sec5_wrapper{
    display: flex;
    flex-flow:row wrap-reverse;
    justify-content: space-between;
}

.sec5_wrapper img{
    width: 55%;
}

.section-5_content{
    padding:3rem 2rem;
    width: 45%;
    background-color:teal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.section-5_content h1{
    color:honeydew;
    font-size: 1.7rem;
}

.section-5_content p{
    line-height: 1.5;
    margin:2rem 0;
    font-size: 1.2rem;
    text-align: justify;
    color:white;
}

.section-5_content button{
    margin-top: 1rem;
    padding: 0.7rem 1rem ;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: transparent;
    outline:none;
    border:1px solid white;
    color:white;
    border-radius: 20px;
    width: 30%;
}

.section-5_content button:hover{
    background-color: white;
    color:black;
}


